:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;

  top: 0px;
  width: 100%;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}


.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;  margin-top: 20px;
  margin-right: 10px;

}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
